body {
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.depoimentos {
    margin: 0 auto;
    padding: 1em;
    background-color: #f8f9fa;
    /* Cor de fundo padrão */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
}

.depoimentos h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.depoimento {
    display: flex;
    gap: 20px;
    padding: 1em;
    border: 1px solid #ccc;
}

.depoimento .avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.depoimento .texto {
    flex: 1;
}

.depoimento p {
    margin: 0;
}

.depoimento .autor {
    display: block;
    margin-top: 10px;
    font-style: italic;
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}