.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    color: #333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.promo-box,
.sobre-autor {
    text-align: center;
    margin: 2em auto;
    font-family: var(--font-primary);
}


.promo-box h2,
.sobre-autor .autor-info h2 {
    font-size: 1.5em;
    color: #0033a0;
    margin: 0 0 0.5em;
}

.promo-box button {
    background-color: #00aaff;
    color: #fff;
    border: none;
    padding: 0.75em 1.5em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.promo-box button:hover {
    background-color: #0077cc;
}

.sobre-autor {
    background-color: var(--cinza-claro);
}

.autor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
    box-sizing: border-box;
}

.autor-foto {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.autor-info p {
    font-size: 1em;
    color: var(--cinza-escuro);
}

@media (max-width: 768px) {
    .sobre-autor {
        padding: 1.5em;
    }

    .autor-foto {
        width: 80px;
        height: 80px;
    }

    .autor-info h2 {
        font-size: 1.5em;
    }

    .autor-info p {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .sobre-autor {
        padding: 1em;
    }

    .autor-foto {
        width: 70px;
        height: 70px;
    }

    .autor-info h2 {
        font-size: 1.3em;
    }

    .autor-info p {
        font-size: 0.8em;
    }
}

/* Seção de Garantia */
.garantia {
    background-image: url('bg.svg'); /* Adiciona a textura de fundo */
    background-color: #000; /* Fundo preto */
    background-repeat: repeat;
    background-size: cover;
    color: #fff;
    padding: 2em;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 2em auto;
    box-sizing: border-box;
}

.garantia h2 {
    font-size: 2em;
    color: #f7c242; /* Amarelo para destaque */
    margin-bottom: 1em;
    font-family: var(--font-primary);
}

.garantia p {
    font-size: 1.2em;
    color: #fff; /* Cor do texto */
    margin: 0;
    line-height: 1.5;
    font-family: var(--font-primary);
}


.exclusivo {
    color: #F7C242; /* Amarelo */
    font-weight: bold;
}