#garantia {
    background-color: black;
    color: whitesmoke;
    padding: 3em;
    text-align: center;
    height: 30vh;
}

#garantia h2 {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold; 
    margin: o auto;
    padding: 1em;
}

#garantia p {
    font-size: 1.1em;
    margin: 10px 0;
}

#garantia i {
    margin-right: 10px;
    font-size: 1.5em;
    vertical-align: middle;
}

/* Mobile First */
@media (max-width: 768px) {
    #garantia {
        padding: 20px;
    }

    #garantia p {
        font-size: 1em;
    }

    #garantia i {
        font-size: 1.2em;
    }
}
