header h1 {
    font-size: 1.8em;
    margin: 0 0 0.5em;
    line-height: 1.3;
    text-align: center;
}

.highlight {
    display: block;
    font-size: 1.2em;
    line-height: 2;
}

.highlight-norte {
    background-color: #000;
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    font-weight: bold;
    white-space: nowrap; /* Impede quebra de linha */

}

.highlight-economia {
    background-color: #00aaff;
    color: #fff;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    font-weight: bold;
    white-space: nowrap; /* Impede quebra de linha */

}

.ebook-mockup {
    display: block;
    margin: 1em auto;
    max-width: 69%;
    height: auto;
}

.promessas {
    text-align: center;
    margin: 2em auto;
}

.promessa-item {
    margin-bottom: 1.5em;
}

.promessa-item .number {
    background-color: #00aaff;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    margin: 0 auto 0.5em; /* Centraliza e adiciona espaço abaixo do número */
}

.promessa-text {
    font-size: 1.2em;
    margin: 0;
}

@media (max-width: 768px) {
    header h1 { font-size: 1.5em; }
    .highlight { font-size: 1.1em; }
    .promessas {
        margin: 1em auto;
        max-width: 69%;
    }
    .promessa-text { font-size: 1em; }
    .promessa-item .number {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
}

@media (max-width: 480px) {
    header h1 { font-size: 1.2em; }
    .highlight { font-size: 1em; }
    .promessa-text { font-size: 0.9em; }
    .promessa-item .number {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}
