header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    margin: 0 0 0.5em;
    line-height: 1.3;
    text-align: center;
}

.ebook-mockup {
    display: block;
    margin: 1em auto;
    max-width: 69%;
    height: auto;
}

.promessas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
}

.promessa-item {
    /* display: flex;
    align-items: flex-start; */
    margin-bottom: 1.5em;
    max-width: 80%;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.promessa-item .number {
    background-color: #00aaff;
    color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-right: 1em;
    font-size: 1.2em;
}

.promessa-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: 0;
    line-height: 1.5;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }
    
    .promessas {
        margin: 1em auto;
        max-width: 90%;
    }
    .promessa-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .promessa-item .number {
        margin-bottom: 0.5em;
    }
    .promessa-text {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }
    
    .promessa-text {
        font-size: 0.9em;
    }
    .promessa-item .number {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 1em;
    }
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    margin: 0 0 0.5em;
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.2em;
    }
}
