/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}

/* Header */
header {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('bg_min_cropped.webp') no-repeat center center/cover;
    color: #fff;
    padding: 20px;
    text-align: center; /* Centraliza o conteúdo do header */
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

header h1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
}

header p {
    font-size: 1em;
    margin-bottom: 1em;
}

.header-content {
    background-color: rgba(0, 0, 0, 0.3); /* Branco com leve opacidade para contraste */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
}

#buy-btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1em;
    color: #fff;
    background-color: #00a3e0; /* Celeste */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px; /* Espaçamento superior */
}

#buy-btn:hover {
    background-color: #007bb5; /* Celeste mais escuro */
    transform: scale(1.05);
}

#buy-btn:active {
    background-color: #005f73; /* Azul escuro */
    transform: scale(0.95);
}

/* Seções */
section {
    padding: 1em;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    line-height: 1.6em;
    text-align: left;
}

h2 {
    color: #00a3e0; /* Celeste */
    padding-bottom: 1em;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    margin-bottom: 10px;
    padding: 0.4em 0;
}

.icon.checkmark::before {
    content: '✓';
    color: #FFD700; /* Amarelo dourado */
    margin-right: 5px;
}

/* Seção Sobre o Autor */
#about-author {
    line-height: 1.5em;
}

#about-author p {
    padding: 0.4em;
}

.author-info {
    margin: 0 auto;
    text-align: left;
}

.author-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

#bonuses {
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

#bonuses h2 {
    color: #00a3e0; /* Celeste */
    margin-bottom: 10px;
}

.bonus-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-size: 1em;
    text-align: left;
}

.icon-number {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #FFD700; /* Amarelo dourado */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1em;
}

/* Estilo do Header em Desktop */
@media (min-width: 769px) {
    header {
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('bg_full.webp') no-repeat center center/cover;
        height: 80vh;
        padding: 60px 20px;
    }

    header h1 {
        font-size: 2.5em;
    }

    header p {
        font-size: 1.2em;
    }

    #buy-btn {
        padding: 15px 30px;
        font-size: 1em;
    }
}

/* Estilização dos Botões */
.buy-btn {
    display: inline-block;
    padding: 12px 25px;
    font-size: 1em;
    color: #fff;
    background-color: #00a3e0; /* Celeste */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    margin: 20px 0; /* Espaçamento entre o conteúdo e o botão */
}

.buy-btn:hover {
    background-color: #007bb5; /* Celeste mais escuro */
    transform: scale(1.05);
}

.buy-btn:active {
    background-color: #005f73; /* Azul escuro */
    transform: scale(0.95);
}
