/* Estilo base para a seção de bônus */
#bonus a {
    background-color: #234D20;
    color: white;
    margin-bottom: 3em
}

#bonus {
    color: #333;
    padding: 20px; /* Padding ajustado para dispositivos móveis */
    text-align: center;
}

#bonus h2 {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold; 
}

/* Estilo para cada item de bônus */
.bonus-item {
    background: #FFF;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6em;
}

/* Estilo para o ícone dentro de cada item de bônus */
.bonus-item i {
    font-size: 2em;
    color: #234D20; /* Verde Escuro */
}

/* Estilo para o conteúdo de cada item de bônus */
.bonus-content {
    color: #333;
}

.bonus-content strong {
    display: block;
    font-size: 1.2em;
    color: #333;
}


.bonus-content p {
    font-size: 1em;
    color: #666;
    margin: 0;
    font-weight: 300;
}

/* Estilos adicionais para dispositivos maiores */
@media (min-width: 768px) {
    #bonus {
        padding: 40px 20px;
    }

    .bonus-item {
        padding: 1em;
    }
}
