/* Estilos Globais */
body {
    font-family: 'Barlow Condensed', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

header,
section,
footer {
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

h1,
h2,
h3 {
    margin: 0 0 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Botões */
.btn-primary {
    background-color: #F39237;
    /* Laranja Vibrante */
    color: white;
    padding: 15px 30px;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}


/* Responsividade */
@media (max-width: 768px) {
    .btn-primary {
        padding: 15px;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 10px 0;
    }
}


/* Estilização adicional para melhor aparência das seções */
section {
    font-weight: bold;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
    color: black;
}


/* Estilo padrão para h2 */
h2 {
    font-size: 2.8em;
    /* Tamanho da fonte para telas maiores */
    margin: 0;
    /* Opcional: para remover margens padrão e garantir mais controle sobre o layout */
    padding: 0;
    /* Opcional: para remover espaçamento padrão */
    text-align: center;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    h2 {
        font-size: 1.7em;
        /* Ajuste o tamanho da fonte para telas menores */
    }

    .preco {
        font-size: 1em;
        /* Aumenta o tamanho do texto */
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.7em;
        /* Ajuste ainda mais para telas muito pequenas */
    }

    .preco {
        font-size: 1em;
        /* Aumenta o tamanho do texto */
    }
}

.preco {
    font-size: 5em;
    /* Aumenta o tamanho do texto */
    text-align: center;
    /* Centraliza o texto */
    font-weight: 900;
    /* Deixa o texto em negrito */
}

#perguntas-comuns {
    padding: 40px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#perguntas-comuns h2 {
    text-transform: uppercase;
}

.white {
    color: white !important;
}

dl {
    margin: 0;
    text-align: left;
}

dt {
    font-size: 1.2em;
    background: white;
    color: black;
    cursor: pointer;
    padding: 10px;
    margin: 10px 0;
    position: relative;
}

.toggle-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: black;
    transition: transform 0.3s ease;
}

dd {
    display: none;
    background: #E3E3E3;
    /* Cinza Claro */
    color: #333;
    padding: 10px;
    margin: 0 0 10px;
    border-left: 4px solid #4CAF50;
    /* Verde */
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

dt.active .toggle-icon {
    transform: rotate(180deg);
}

dt.active+dd {
    display: block;
    opacity: 1;
    max-height: 200px;
}

/* Mobile First */
@media (max-width: 768px) {
    #perguntas-comuns {
        padding: 20px;
    }

    dt {
        font-size: 1em;
        padding: 8px;
    }

    .toggle-icon {
        font-size: 1em;
    }
}